hr{
    margin-bottom: -2px;
}

td,
tr{
    vertical-align: middle;
}


.form-check-label:hover,
.form-check-input:hover{
    cursor: pointer;
}

.table-name{
    margin-bottom: -5px;
}

img{
    height: 100%;
    width: auto;
    max-height: 120px;
}
